vim/bundle
vim/colors
vim/init.vim
vim/plugin
vim/plugged
vim/autoload
vim/undodir
vim/.netrwhist
zsh-kubectl-prompt
emacs/init.el
neomutt/work.account

.DS_Store
*~
nvim/plugin
package.json
package-lock.json
lazy-lock.json
.luarc.json
